// Import the necessary modules
@use './styles/theme';
@use './styles/header';
@use './styles/tooltip';
@use './styles/home';
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
html, body {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Space Mono", monospace;
  scroll-behavior: smooth;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;

  // background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  &::-webkit-scrollbar {
    width: 0;
  }
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

body.dark {
  background-color: var(--bg-color);
  color: var(--text-color);
}

main {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  // background-color: aqua;
}